<link rel="shortcut icon" type="image/png" href="lib/jasmine_favicon.png">
<link rel="stylesheet" type="text/css" href="lib/jasmine.css">

<script type="text/javascript" src="lib/jasmine.js"></script>
<script type="text/javascript" src="lib/jasmine-html.js"></script>
<script type="text/javascript" src="lib/boot.js"></script>

 <script type="text/javascript" src="../src/procesador.js"></script>
 <script type="text/javascript" src="../src/analizador.js"></script>


  <script type="text/javascript" src="../src/analizadorSpec.js"></script>


